body {
  background-color: lavender;
}

h1 {
  text-align: center;
}

.button-container {
  margin-bottom: 20px;
  margin-left: 80px;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-bottom: 80px;
}

.card {
  width: 500px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  padding: 20px;
  margin-left: 70px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
  margin-bottom: 15px;
}

.card-body {
  font-size: 14px;
}

h2 {
  font-size: 18px;
  margin-bottom: 5px;
}

p {
  margin: 5px 0;
}
